/* ! reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ! reset */

#container {
    --container-width: min(900px, 90vw);
    box-shadow: 4px 4px 11px 0 rgba(34, 60, 80, 0.4);
    width: var(--container-width);
    height: 1500px;
    margin: 30px auto;
    background-color: rgb(255, 255, 248);
    padding: 20px 30px;
    box-sizing: border-box;
}

.flower-bg {
    position: fixed;
    top: 0;
    height: 100vh;
}

#left-flower-bg {
    left: 0;
    z-index: -10;

}

#right-flower-bg {
    right: 0;
    z-index: -11;
    transform: scale(-1, 1);
}

#countdown-cont {
    --rel-w: min(1rem, calc(var(--container-width) / 50));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 calc(-3 * var(--rel-w));
}

#countdown-cont>.event-countdown-desc {
    font-size: calc(3 * var(--rel-w));
    margin: calc(var(--rel-w) * 0.3) 0 calc(var(--rel-w) / 2);
}

#countdown-cont .counter>p {
    font-size: calc(var(--rel-w) * 2);
    margin: 0;
}

#countdown-cont>.event-countdown-desc,
#countdown-cont .counter>p {
    font-family: 'Great Vibes', Helvetica, sans-serif;
    letter-spacing: calc(var(--rel-w) / 10);
}

.countdown-units {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-units>.counter {
    display: flex;
    flex-direction: column;
}

.countdown-units>.counter>div {
    display: flex;
    flex-direction: row;
}

.countdown-units>.counter>div>div {
    font-size: calc(var(--rel-w) * 5);
    font-family: 'Great Vibes', Helvetica, sans-serif;
    background-color: #f5f7ff;
    color: #030569;
    box-sizing: border-box;
    width: calc(var(--rel-w) * 3.2);
    border-radius: calc(var(--rel-w) * 0.75);
    margin: 0 calc(var(--rel-w) / 8) calc(var(--rel-w) / 4);
    padding: calc(var(--rel-w) / 16 * 7) calc(var(--rel-w) / 2) calc(var(--rel-w) / 16) calc(var(--rel-w) / 4);
}

.countdown-units>.gap {
    font-size: calc(var(--rel-w) * 4);
    font-family: 'Times New Roman', Times, serif;
    color: black;
    opacity: 0.3;
    margin: calc(var(--rel-w) * 0.3) calc(var(--rel-w) * 0.2) 0;
}